HF_TOKEN=yourtokenhere
LOCAL_STORAGE=./models
# For GGUF quantized models, MODEL_ID uses format: repo:filename.gguf
# Example: MODEL_ID=mradermacher/translategemma-4b-it-GGUF:translategemma-4b-it.Q2_K.gguf

MODEL_ID=google/translategemma-12b-it
MODEL_ALIAS=translategemma-12b-it
BACKEND_URL=http://translate-backend:8080
API_KEY=2f8d430a0f17b3eaa957cf7ae188a3db71a2df6d30cf0a9766eddbb0b70421c8
